**/.vscode

**/in
**/out*
**/a.out
**/brute
**/code
**/correctAnswer
**/gen
**/input_file
**/myAnswer

**/a
**/a.exe
**/Code[1-9].cpp
**/Codepy.py
**/Codepy[1-9].py

**/CppProperties.json
**/google decode.py
**/google decode.py